<div class="row">
  <div class="col-md-8">
    <h2>Detail Contact</h2>
    <% if(contact.length < 1) { %>
    <div class="alert alert-danger fw-bold" role="alert">
      Data Contact tidak ada.<br />
      <a href="/contacts" class="alert-link fw-normal">&laquo; Kembali ke daftar Contact</a>.
    </div>
    <% }else { %>
    <div class="card mt-3" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title"><%= contact[0].name; %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= contact[0].email; %></h6>
        <p class="card-text"><%= contact.nohp; %></p>
        <a href="/contacts/edit/<%= contact[0].name %>" class="btn btn-info btn-sm">Ubah</a>
        <a href="/contacts/delete/<%= contact[0].name %>" onclick="return confirm('yakin ingin menghapusnya?')" class="btn btn-danger btn-sm">Hapus</a><br />
        <a href="/contacts" class="card-link">&laquo; Kembali ke daftar contact</a>
      </div>
    </div>
    <% } %>
  </div>
</div>
